{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

  <div class="starter-template">
    <h1 class="display-1">Car shop</h1>
    <p class="lead">Car shop with clients</p>
  </div>

{% endblock %}
